body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.inputbox {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 2px solid rgba(130, 125, 125, 1);
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
}
.__decoration {
  margin: 10px;
  text-align: center;
}
.__hidden {
  display: none;
}
.filter {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5px;
  width: 500px;
  border: 2px solid rgba(130, 125, 125, 1);
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
}
.filter--inputbox {
  margin: 10px;
  width: 95%;
}
.play-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
  padding-left: 0;
  border-top: solid rgba(0, 0, 0, 0.5) 2px;
  border-left: solid rgba(0, 0, 0, 0.5) 2px;
}
.play-list--song {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 95%;
  border: 2px solid rgba(130, 125, 125, 1);
  list-style: none;
}
.song-value,.player-value,.album-value,.date-value {
  width: 100%;
}
